body {
  padding-bottom: 50px; /* Prevent the editor footer from hiding the real footer */
}
#divEditorFooter {
  background-color: #000000cc;
  box-shadow: 0px 0px 4px #bababa;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1px;
  color: white;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
#divEditorFooter > div {
  padding: 5px;
}
#divEditorLeft {
  flex-shrink: 0;
}
#divEditorLeft a {
  color: white !important;
  font-size: 18px;
  margin: 0px 5px;
}
#divEditorRight {
  flex-shrink: 0;
}
.footer-button {
  width: 160px;
  padding: 4px;
  font-size: 14px;
}
.footer-button:disabled {
  background-color: #676767;
  border: 0 !important;
}

/* Make footer buttons icon-only in small resolutions to save space */
@media (max-width: 1000px) {
  .footer-button {
    width: 30px;
  }
  .footer-button span {
    display: none;
  }
}