/* General */
.ba-center {
  text-align: center;
}
.editable-unsaved {
  font-weight: normal;
}

/* Poppers */
.edition-popper {
  background-color: #000000ee;
  color: white;
  padding: 5px;
  box-shadow: 0px 0px 4px #bababa;
  z-index: 9999;
}
.modal-title {
  display: inline-block;
  font-size: 24px;
}

/* Toggleable glow effect for editable fields */
.editable-text.glow {
  animation: text-glow 1s alternate infinite;
}
.editable-image.glow {
  animation: image-glow 1s alternate infinite;
}
.editable-collection-image.glow {
  animation: image-glow 1s alternate infinite;
}
.editable-download.glow {
  animation: image-glow 1s alternate infinite;
}
@keyframes text-glow {
  from { box-shadow: 0px 0px 5px 5px #77f; background-color: #77f; }
  to { box-shadow: 0px 0px 0px 0px #00000000; background-color: inherit; }
}
@keyframes image-glow {
  from { box-shadow: 0px 0px 10px 8px #77f; background-color: #77f; }
  to { box-shadow: 0px 0px 0px 0px #00000000; background-color: inherit; }
}