#divImagePopper.inner {
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
#divImagePopper:not(.inner) {
  border-radius: 4px;
}
#divImagePopper > span {
  cursor: pointer;
}
#filUploadImage {
  display: none;
}