#spnTextNotes {
  font-style: italic;
  font-size: 12px;
  margin-left: 20px;
}
#tarNewText {
  background-color: transparent;
  color: white;
  width: 400px;
}
.editable-text {
  cursor: pointer;
}
.selected-text {
  background-color: #018eb933;
}