<%= stylesheet_link_tag 'binomio_admin/all' %>
<%= javascript_include_tag 'binomio_admin/all' %>

<!-- Editor footer -->
<div id="divEditorFooter">
  <div id="divEditorLeft">
    <a href="<%= ba_help_path %>" target="_blank"><i class="fa fa-question-circle" title="Abrir la página de ayuda (en una nueva pestaña)"></i></a>
    <a href="#" id="btnGlow"><i class="fa fa-pencil" title="Resaltar las partes editables de la página"></i></a>
    <a href="#" id="btnResetEmptyText"><i class="fa fa-eye" title="Volver a mostrar los campos de texto que fueron ocultados"></i></a>
    <% if defined? admin_menu_path %>
      <a href="<%= admin_menu_path %>"><i class="fa fa-wrench" title="Ir al menú administrativo"></i></a>
    <% end %>
  </div>
  <div id="divEditorCenter" class="center">
  </div>
  <div id="divEditorRight">
    <button id="btnDiscardEdits" class="btn btn-danger editor-button">
      <i class="fa fa-times"></i><span> Descartar cambios</span>
    </button>
    <button id="btnSaveEdits" class="btn btn-success editor-button">
      <i class="fa fa-check"></i><span> Publicar cambios</span>
    </button>
  </div>
</div>

<!-- Popup for text edition -->
<div id="divTextPopper" class="edition-popper" style="display:none">
  <textarea id="tarNewText" class="form-control"></textarea><br/>
  <button id="btnDiscardText" class="btn btn-danger"><i class="fa fa-times"></i></button>
  <button id="btnSaveText" class="btn btn-success"><i class="fa fa-check"></i></button><br>
  <span id="spnTextNotes"></span>
</div>

<!-- Popup for image edition -->
<div id="divImagePopper" class="edition-popper ba-center" style="display: none;">
  <span id="spnPopperSize"></span><br />
  <span id="btnUploadImage"><i class="fa fa-upload"></i> Subir imagen</span><br />
  <span id="btnUploadUrl"><i class="fa fa-external-link"></i> Cargar desde URL</span>
  <input type="file" id="filUploadImage"/>
</div>

<!-- Popup for download edition -->
<div id="divDownloadPopper" class="edition-popper ba-center" style="display: none;">
  <a id="btnDownloadDownload" href="#" target="_blank" style="color:white"><i class="fa fa-download"></i> Descargar archivo</a><br/>
  <span id="btnUploadDownload"><i class="fa fa-upload"></i> Reemplazar archivo</span>
  <input type="file" id="filUploadDownload"/>
</div>

<!-- Modal for importing images from URL -->
<div class="modal fade" id="divMessageModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-info-circle"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="divMessage" class="modal-body">
      </div>
    </div>
  </div>
</div>

<!-- Modal for importing images from URL -->
<div class="modal fade" id="divUrlModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cargar desde URL</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Ingresa la URL de la imagen que deseas subir.<br />
        <input type="text" class="form-input" id="txtImageUrl" style="width:100%"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button id="btnLoadUrl" type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>