<!-- Binomio Admin 1.1.0 -->
<div id="divHelp">
  <h1>Editor</h1>
  <p>
    El editor te permite cambiar contenido dentro de tu sitio. Esta página te explica cómo.
  </p>
  <h4>Modo de edición</h4>
  <p>
    Para hacer uso del editor debes ingresar al sitio con una cuenta habilitada. Sabrás que estás en modo de edición cuando veas una nueva barra de herramientas en la parte inferior de la pantalla.
  </p>
  <h4>Editar textos</h4>
  <p>
    Para editar un texto editable solo tienes que hacer click en él. Aparecerá un cuadro de diálogo en el que puedes cambiar su contenido. Presiona el tick para aplicar el cambio, o la cruz para descartarlo. Todos los cambios que hagas no serán visibles para los visitantes del sitio hasta que hagas clic en el botón <b>Publicar cambios</b>.
  </p>
  <p>
    A continuación puedes ver un ejemplo de un texto editable.
  </p>
  <p>
    <blockquote>
      <%= editable_text_named "help.samples.text" %>
    </blockquote>
  </p>
  <p>
    <b>Tips</b>:
    <ul>
      <li>Presionar <span class="key">Enter</span> es un atajo para guardar el texto. Si quieres ingresar un salto de línea, presiona <span class="key">Shift</span> + <span class="key">Enter</span>.</li>
      <li>Algunos textos editables pueden estar en botones o links. Si quieres usarlos en lugar de editarlos, usa <span class="key">Shift</span> + <span class="key">click</span>.</li>
    </ul>
  </p>
  <h4>Editar imágenes</h4>
  <p>
    Editar imágenes es muy similar a la edición de textos. Cuando hagas clic en la imágen, aparecerá un panel debajo de ella que te dará la opción de subir una nueva imagen para reemplazarla.
  </p>
  <p>
    A continuación puedes ver un ejemplo de una imagen editable.
  </p>
  <%= editable_image_named "help.samples.image", {}, { id: "imgSample"} %>
  <p>
    <b>Tips</b>:
    <ul>
      <li>Es recomendable que la nueva imagen tenga las mismas dimensiones que la imagen anterior para evitar problemas con la estructura de la página.</li>
      <li>En el caso de las imágenes de tamaño variable (ej. las que cubren todo el ancho de la pantalla), el editor solo puede mostrarte el tamaño <i>actual</i>. Puedes hallar el tamaño original inspeccionando la imagen con el navegador, o simplemente subir una imagen de proporciones equivalentes.</li>
      <li>Al igual que con la edición de textos, <span class="key">Shift</span> + <span class="key">click</span> te permite usar imágenes link sin editarlas.</li>
      <li>Si cargas una imagen desde una URL externa, el servidor la obtendrá y la almacenará localmente. El sitio externo no será usado por los visitantes.</li>
      <li>Para optimizar el peso de las imágenes y mejorar la performance del sitio es recomendable usar formato JPG (o si se require transparencia, PNG) con buena compresión y dimensiones que no excedan lo necesario.</li>
      <li>En algunas ocasiones el servidor convertirá automáticamente a JPG y reducirá las imágenes subidas a dimensiones máximas razonables.</li>
    </ul>
  </p>
  <h4>Editar otros archivos</h4>
  <p>
    El editor también te puede permitir editar archivos descargables de tu sitio, como por ejemplo PDFs. Solo tienes que hace clic en el enlace de descarga y aparecerá un panel que te permite reemplazar el archivo al que el enlace apunta.
  </p>
  <p>
    A continuación puedes ver un ejemplo:
  </p>
  <p>
    <%= editable_download_named "help.samples.download", {}, { class: "btn btn-primary" } do %>
    <i class="fa fa-file-pdf-o"></i> Descargar
    <% end %>
  </p>
  <p>
    <b>Tips</b>:
    <ul>
      <li>Puede suceder que el texto del botón de descarga también sea editable, en cuyo caso cliquearlo abrirá el popup de edición de texto. Si quieres editar la descarga, puedes hacer clic en un lugar del botón que no sea texto.</li>
    </ul>
  </p>

  <hr style="margin: 40px 10px"/>
  <h4>Tips generales</h4>
  <p>
    <ul>
      <li>Utiliza el botón <i class="fa fa-question-circle"></i> para acceder a esta página cuando la necesites.</li>
      <li>Utiliza el botón <i class="fa fa-pencil-square"></i> para resaltar todos los componentes editables.</li>
      <li>Si estás haciendo muchos cambios, es buena idea guardarlos periódicamente para no perder el progreso.</li>
      <li>Luego de hacer cambios, asegúrate de probar diferentes anchos de pantalla (ej. ajustando la ventana del navegador) para verificar que los cambios se vean bien en todos los tipos de dispositivo.</li>
    </ul>
  </p>
</div>
<style>
  #divHelp {
    max-width: 800px;
    margin-top: 50px;
    margin-left: calc(50vw - 390px);
  }
  #imgSample {
    max-height: 200px;
  }
  h4 {
    margin-top: 30px;
  }
  .key {
    font-family: monospace;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: #eee;
    padding: 1px 5px;
  }
</style>
