<h1>Árbol de contenidos editables</h1>
<div id="divTree">
  <%= display_tree(@tree).html_safe %>
</div>
<style>
  #divTree div {
    border-top: 1px solid #ddd;
  }
  #divTree b {
    color: #174fb9;
  }
</style>